<header>
        <!-- aqui comienza el Menú -->
        <div class="nav-bar">
            <div class="bg-primary" style="padding: 8px 0;">
                <div class="flex__wrap">
                    <div class="row middle-xs">
                        <div class="logo-search-bar col-xs-5 middle-xs col-sm-3 col-md">
                            <a class="js-burger | d-hide" href="#" title="Brand el supermercado de toda la vida">
                                <i class="md-icon icon-md_burger" style="margin: 4px 8px 0 0;"></i>
                            </a>
                            <a href="/">
                                <div class="header__logo"></div>
                            </a>
                            <form class="suggested-search | js-search-form js-pjax | m-hide t-hide large-mobile-hide desktop" method="get" action="/busca" id="desktopSearch">
                                <label class="suggested-search__label | form--inline | search-label" for="main-search">
                                            <i class="md-icon | icon--md_search-black"></i>
                                        </label>
                                <input class="suggested-search__input | js-search-query ac_input" type="text" name="q" value="" placeholder="Buscar" autocomplete="off" autocorrect="off" id="main-search">
                                <button class="suggested-search__button | btn btn--small | m-hide t-hide large-mobile-hide desktop | t-hide | m-hide | large-mobile-hide">Buscar</button>
                                <button class="suggested-search__button suggested-search__button--close | btn btn--small | d-hide dw-hide is-hidden | js-search-close">Cerrar</button>
                            </form>
                            <div class="suggested-search-results | container-white | js-suggested-search is-hidden"></div>
                        </div>
                        <div class="header-bar col-xs col-sm col-md">
                            <div class="nav-item m-hide | large-mobile-hide">
                                <a class="js-pjax | js-track-ui" href="promociones.html" data-tracking-action="promos_click" data-tracking-label="promos_desktop_header" title="Comprar productos en promoción">
                                    <i class="md-icon | icon--md_local_offer-white"></i>
                                    <span class="nav-item-label">Ofertas</span>
                                </a>
                            </div>
                            <div class="nav-item | d-hide t-hide dw-hide | js-search-toggle | is-hidden">
                                <a class="js-pjax | js-track-ui" title="Buscar">
                                    <i class="md-icon | icon--md_search-white icon--muted"></i>
                                </a>
                            </div>
                            <div class="nav-item">
                                <div class="dropdown | js-dropdown">
                                    <a class="dropdown__toggle | js-dropdown-toggle" href="#" title="Regístrate o Accede a tu cuenta">
                                        <i class="md-icon | icon--md_account_circle-white"></i>
                                        <span class="nav-item-label m-hide | large-mobile-hide">Acceso</span>
                                    </a>
    
                                </div>
                            </div>
                            <div class="nav-item js-cart-mini-link no-border" id="cart-mini">
                                <i class="md-icon | icon--md_shopping_cart-white"></i>
                                <span class="js-cart-mini-subtotal | js-cart-mini-info-subtotal | accent"></span>
                            </div>
                            <div class="nav-item | cta | large-mobile-hide">
                                <a id="cart-mini-link" class="js-checkout" href="#" rel="nofollow">Mi Bolsa</a>
                            </div>
    
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- aqui finaliza el Menú -->
    
    
        <!-- aqui empieza el Sub-Menú -->
        <nav class="container-nav">
            <ul class="main-menu  " style="background-color: #26486f">
                <li><a href="#">Fresco</a></li>
                <li><a href="#">Refigerado</a></li>
                <li><a href="#">Alimentos</a></li>
                <li><a href="#">Bebidas</a></li>
                <li><a href="#">Básicos de la Casa</a></li>
                <li><a href="#">Higiene y Belleza</a></li>
                <li><a href="#">Bebé</a></li>
                <li><a href="#">Farmacia</a></li>
                <li class="no-border"><a href="#">Mascotas</a></li>
            </ul>
        </nav>
        <!-- aqui finaliza el Sub-Menú -->
    </header>


