<div class="pjax-container js-pjax-container" id="pjax-container">
  <div class="flex__wrap">
      <div class="col-xs-10 col-xs-offset-1">
          <div class="row around-xs">
              <div class="col-md-4 col-xs-12 value-proposition-container js-open-modal" data-modal-url="/modal/slots-info">
                  <div class="row">
                      <div class="col-xs-3">
                          <img src="../../../assets/img/truck.svg" alt="Camión" class="value-proposition-icon">
                      </div>
                      <div class="col-xs-9 value-description">
                          <div>
                              <div class="value-title">Envío GRATIS</div>
                              <div class="value-claim">a partir de $30.000 mil en compras</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-xs-12 value-proposition-container js-open-modal" data-modal-url="/modal/slots-info">
                  <div class="row">
                      <div class="col-xs-3">
                          <img src="../../../assets/img/icon-clock.svg" alt="Reloj" class="value-proposition-icon">
                      </div>
                      <div class="col-xs-9 value-description">
                          <div>
                              <div class="value-title">Entregamos de&nbsp;7&nbsp;a.m.&nbsp;a&nbsp;10&nbsp;p.m.</div>
                              <div class="value-claim">de nuestro súper a tu casa.</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-xs-12 value-proposition-container">
                  <div class="row">
                      <div class="col-xs-3">
                          <img src="../../../assets/img/icon-offer.svg" alt="Ofertas" class="value-proposition-icon">
                      </div>
                      <div class="col-xs-9 value-description">
                          <a href="#" class="unlink">
                              <div>
                                  <div class="value-title">+5.000 Ofertas</div>
                                  <div class="value-claim">visita nuestras promos</div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="flex__wrap │ container-white │ clear-fix dw-margin-trailer-2 d-margin-trailer-2 t-margin-trailer-2">
      <div class="flex_wrapper">
          <div class="soft--bottom">
              <header class="container-white │ islet │ flexbox │ border--bottom">
                  <span class="flexbox__item">
                  <h1 class="brand-face │ delta │ base-line-height │ flush--bottom │ text--center │ soft--ends">Todas nuestras promociones</h1>
               </span>
              </header>
          </div>
          <div>
              <ul class="row">
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128974" data-name="Outlet festival de ofertas" data-position="1">
                              <picture>
                                  <img src="../../../assets/img/media/128974_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="campaign/outlet-brand.html" data-id="101803" data-name="Outlet festival de ofertas" data-position="2">
                              <picture>
                                  <img src="../../../assets/img/media/101803_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="116503" data-name="Outlet festival de ofertas" data-position="3">
                              <picture>
                                  <img src="../../../assets/img/media/116503_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="117681" data-name="Outlet festival de ofertas" data-position="4">
                              <picture>
                                  <img src="../../../assets/img/media/117681_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="118206" data-name="Outlet festival de ofertas" data-position="5">
                              <picture>
                                  <img src="../../../assets/img/media/118206_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="120569" data-name="Outlet festival de ofertas" data-position="6">
                              <picture>
                                  <img src="../../../assets/img/media/120569_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="120722" data-name="Outlet festival de ofertas" data-position="7">
                              <picture>
                                  <img src="../../../assets/img/media/120722_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="122059" data-name="Outlet festival de ofertas" data-position="8">
                              <picture>
                                  <img src="../../../assets/img/media/122059_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="124242" data-name="Outlet festival de ofertas" data-position="9">
                              <picture>
                                  <img src="../../../assets/img/media/124242_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="124426" data-name="Outlet festival de ofertas" data-position="10">
                              <picture>
                                  <img src="../../../assets/img/media/124426_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="125524" data-name="Outlet festival de ofertas" data-position="11">
                              <picture>
                                  <img src="../../../assets/img/media/125524_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="127787" data-name="Outlet festival de ofertas" data-position="12">
                              <picture>
                                  <img src="../../../assets/img/media/127787_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="127805" data-name="Outlet festival de ofertas" data-position="13">
                              <picture>
                                  <img src="../../../assets/img/media/127805_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="127972" data-name="Outlet festival de ofertas" data-position="14">
                              <picture>
                                  <img src="../../../assets/img/media/127972_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128422" data-name="Outlet festival de ofertas" data-position="15">
                              <picture>
                                  <img src="../../../assets/img/media/128422_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128634" data-name="Outlet festival de ofertas" data-position="16">
                              <picture>
                                  <img src="../../../assets/img/media/128634_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128640" data-name="Outlet festival de ofertas" data-position="17">
                              <picture>
                                  <img src="../../../assets/img/media/128640_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128664" data-name="Outlet festival de ofertas" data-position="18">
                              <picture>
                                  <img src="../../../assets/img/media/128664_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128673" data-name="Outlet festival de ofertas" data-position="19">
                              <picture>
                                  <img src="../../../assets/img/media/128673_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128800" data-name="Outlet festival de ofertas" data-position="20">
                              <picture>
                                  <img src="../../../assets/img/media/128800_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128804" data-name="Outlet festival de ofertas" data-position="21">
                              <picture>
                                  <img src="../../../assets/img/media/128804_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128904" data-name="Outlet festival de ofertas" data-position="22">
                              <picture>
                                  <img src="../../../assets/img/media/128904_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128923" data-name="Outlet festival de ofertas" data-position="23">
                              <picture>
                                  <img src="../../../assets/img/media/128923_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128978" data-name="Outlet festival de ofertas" data-position="24">
                              <picture>
                                  <img src="../../../assets/img/media/128978_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="128996" data-name="Outlet festival de ofertas" data-position="25">
                              <picture>
                                  <img src="../../../assets/img/media/128996_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129089" data-name="Outlet festival de ofertas" data-position="26">
                              <picture>
                                  <img src="../../../assets/img/media/129089_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129099" data-name="Outlet festival de ofertas" data-position="27">
                              <picture>
                                  <img src="../../../assets/img/media/129099_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129141" data-name="Outlet festival de ofertas" data-position="28">
                              <picture>
                                  <img src="../../../assets/img/media/129141_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129151" data-name="Outlet festival de ofertas" data-position="29">
                              <picture>
                                  <img src="../../../assets/img/media/129151_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129187" data-name="Outlet festival de ofertas" data-position="30">
                              <picture>
                                  <img src="../../../assets/img/media/129187_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129199" data-name="Outlet festival de ofertas" data-position="31">
                              <picture>
                                  <img src="../../../assets/img/media/129199_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129213" data-name="Outlet festival de ofertas" data-position="32">
                              <picture>
                                  <img src="../../../assets/img/media/129213_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129225" data-name="Outlet festival de ofertas" data-position="33">
                              <picture>
                                  <img src="../../../assets/img/media/129225_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129230" data-name="Outlet festival de ofertas" data-position="34">
                              <picture>
                                  <img src="../../../assets/img/media/129230_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129351" data-name="Outlet festival de ofertas" data-position="35">
                              <picture>
                                  <img src="../../../assets/img/media/129351_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129392" data-name="Outlet festival de ofertas" data-position="36">
                              <picture>
                                  <img src="../../../assets/img/media/129392_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
                  <li class="promo--item col-xs-12 col-sm-6 col-md-4 unlist">
                      <div>
                          <a href="#" data-id="129400" data-name="Outlet festival de ofertas" data-position="37">
                              <picture>
                                  <img src="../../../assets/img/media/129400_banner.jpg">
                              </picture>
                          </a>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>

</div>
