<div class="pjax-container js-pjax-container" id="pjax-container" style=" background-color: white;">
        <div class="flex__wrap">
            <div class="row around-xs specialist-corners">
                <div class="col-xs-3">
                    <a class="unlink js-pjax row middle-xs center-xs top-sm start-sm" href="#" title="Rincón Ecológico">
                        <div class="row">
                            <div class="col-xs-12 col-md-3 col-sm-4">
                                <img class="corner-image" src="../../../assets/img/rincon-eco.svg">
                            </div>
                            <div class="col-xs-12 col-md-9 col-sm-8">
                                <div class="corner-title">Rincón Ecológico</div>
                                <span class="text-blue milli view-corner-products">Ver productos</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="unlink js-pjax row middle-xs center-xs top-sm start-sm" href="#" title="Rincón sin gluten">
                        <div class="row">
                            <div class="col-xs-12 col-md-3 col-sm-4">
                                <img class="corner-image" src="../../../assets/img/rincon-gluten.svg">
                            </div>
                            <div class="col-xs-12 col-md-9 col-sm-8">
                                <div class="corner-title">
                                    Rincón sin gluten
                                </div>
                                <span class="text-blue milli view-corner-products">Ver productos</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="unlink js-pjax row middle-xs center-xs top-sm start-sm" href="#" title="Nuestra Bodega">
                        <div class="row">
                            <div class="col-xs-12 col-md-3 col-sm-4">
                                <img class="corner-image" src="../../../assets/img/rincon-bodega.svg">
                            </div>
                            <div class="col-xs-12 col-md-9 col-sm-8">
                                <div class="corner-title">Nuestra Bodega</div>
                                <span class="text-blue milli view-corner-products">Ver productos</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a class="unlink js-pjax row middle-xs center-xs top-sm start-sm" href="#" title="Rincón Gourmet">
                        <div class="row">
                            <div class="col-xs-12 col-md-3 col-sm-4">
                                <img class="corner-image" src="../../../assets/img/rincon-gourmet.svg">
                            </div>
                            <div class="col-xs-12 col-md-9 col-sm-8">
                                <div class="corner-title">Rincón Gourmet</div>
                                <span class="text-blue milli view-corner-products">Ver productos</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="flex__wrap">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner__feactured">
                            <a class="unlink | js-pjax js-banner-url" href="#" data-id="13741" data-name="3x2 ¡Combínalos!" data-position="1" title="Brand, el supermercado de toda la vida - 3x2 ¡Combínalos!">
                                <picture>
                                    <img src="../../../assets/static/media/128935_hero-banner-desktop.jpg" title="Brand, El supermercado de toda la vida - 3x2 ¡combinalos!">
                                </picture>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <a class="unlink | js-pjax js-banner-url" href="#" data-name="¡Outlet!" data-position="1" title="Brand, el supermercado e toda la vida - ¡Outlet!"></a>
                        <picture>
                            <img src="../../../assets/static/media/101803_4x3-banner-tablet.jpg" title="Brand, El supermercado de toda la vida - ¡Outlet!">
                        </picture>
                        
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <a class="unlink | js-pjax js-banner-url" href="#" data-name="3x2 Moritz" data-position="2" title="Brand, el supermercado de toda la vida - 3x2 Moritz"></a>
                        <picture>
                            <img src="../../../assets/static/media/110375_4x3-banner-tablet.jpg" title="Brand, El supermercado de toda la vida - 3x2  Moritz">
                        </picture>
                        
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <a class="unlink | js-pjax js-banner-url" href="#" data-name="Ofertas Vernel" data-position="3" title="Brand, el supermercado de toda la vida - Ofertas Vernel"></a>
                        <picture>
                            <img src="../../../assets/img/media/129141_banner.jpg" title="Brand, El supermercado de toda la vida - Ofertas Vernel">
                        </picture>
                        
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <a class="unlink | js-pjax js-banner-url" href="#" data-name="¡2ª a 70 Lindt!" data-position="4" title="Brand, el supermercado de toda la vida - ¡2ª a 70 Lindt!"></a>
                        <picture>
                            <img src="../../../assets/img/media/128996_banner.jpg" title="Brand, El supermercado de toda la vida - ¡2ª a 70 Lindt!">
                        </picture>
                        
                    </div>
                </div>
            </div>
        </div>
        <main class="flex__wrap">
            <div class="row">
                <div class="col-xs-12 push--bottom">
                    <header class="container--white │ islet │ flexbox │ border--bottom">
                        <span class="flexbox__item">
                            <h2 class="brand-face │ delta │ base-line-height │ flush--bottom │ text--left">Destacados</h2>
                        </span>
                    </header>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#">
                        <img src="../../../assets/img/featured-categories/market-es.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#">
                        <img src="../../../assets/img/featured-categories/private-label-es.jpg">
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <a href="#">
                        <img src="../../../assets/img/featured-categories/new_products-es.jpg">
                    </a>
                </div>
            </div>
        </main>
        <div class="full-width-white-band">
            <div class="flex__wrap">
                <div class="category-list">
                    <div class="push--bottom">
                        <div class=" │ islet │ flexbox │ border--bottom">
                            <div class="flexbox__item">
                                <h2 class="brand-face │ delta │ base-line-height │ flush--bottom │ text--left">Categoría</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card--container">
                            <div class="card">
                                <div class="card--image">
                                    <a class="js-pjax" href="#">
                                        <img class="lazy" src="../../../assets/static/media/112534_m1.jpg" alt="Fresco">
                                    </a>
                                </div>
                                <div class="card--content">
                                    <h3>
                                        <a class="js-pjax" href="#">
                                                Frescos
                                        </a>
                                    </h3>
                                    <div class="category-list-container">
                                        <ul class="unlist">
                                            <li id="c1587_list">
                                                <a href="#" title="Comprar Verduras y Setas" class="js-pjax │ unlink">Verduras y Setas</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="js-pjax │ category-view-more" href="#">
                                        "
                                                                        Ver más ...
                                                            "                               
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card--container">
                            <div class="card">
                                <div class="card--image">
                                    <a class="js-pjax" href="#">
                                        <img class="lazy" src="../../../assets/static/media/112536_m1.jpg" alt="Refrigerado y Congelado">
                                    </a>
                                </div>
                                <div class="card--content">
                                    <h3>
                                        <a class="js-pjax" href="#">
                                                Refrigerado y Congelado
                                        </a>
                                    </h3>
                                    <div class="category-list-container">
                                        <ul class="unlist">
                                            <li id="c1947_list">
                                                <a href="#" title="Comprar Congelado" class="js-pjax │ unlink">Congelado</a>
                                            </li>
                                            <li id="c1599_list">
                                                <a href="#" title="Comprar Charcutería y Embutidos" class="js-pjax │ unlink">Charcutería y Embutidos</a>
                                            </li>
                                            <li id="c2368_list">
                                                <a href="#" title="Comprar Quesos" class="js-pjax │ unlink">Quesos</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="js-pjax │ category-view-more" href="#">
                                            "
                                                                            Ver más ...
                                                                "                               
                                        </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card--container">
                            <div class="card">
                                <div class="card--image">
                                    <a class="js-pjax" href="#">
                                        <img class="lazy" src="../../../assets/static/media/112537_m1.jpg" alt="Alimentación">
                                    </a>
                                </div>
                                <div class="card--content">
                                    <h3>
                                        <a class="js-pjax" href="#">
                                                Alimentación
                                            </a>
                                    </h3>
                                    <div class="category-list-container">
                                        <ul class="unlist">
                                            <li id="c2057_list">
                                                <a href="#" title="Comprar Los Más Vendidos" class="js-pjax │ unlink">Los Más Vendidos</a>
                                            </li>
                                            <li id="c2187_list">
                                                <a href="#" title="Comprar Charcutería y Embutidos" class="js-pjax │ unlink">Charcutería y Embutidos</a>
                                            </li>
                                            <li id="c902_list">
                                                <a href="#" title="Comprar Quesos" class="js-pjax │ unlink">Quesos</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="js-pjax │ category-view-more" href="#">
                                                "
                                                                                Ver más ...
                                                                    "                               
                                            </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card--container">
                            <div class="card">
                                <div class="card--image">
                                    <a class="js-pjax" href="#">
                                        <img class="lazy" src="../../../assets/static/media/112538_m1.jpg" alt="Bebidas">
                                    </a>
                                </div>
                                <div class="card--content">
                                    <h3>
                                        <a class="js-pjax" href="#">
                                                 Bebidas
                                            </a>
                                    </h3>
                                    <div class="category-list-container">
                                        <ul class="unlist">
                                            <li id="c1123_list">
                                                <a href="#" title="Comprar Vinos y Espumosos" class="js-pjax │ unlink">Vinos y Espumosos</a>
                                            </li>
                                            <li id="c954_list">
                                                <a href="#" title="Comprar Licores" class="js-pjax │ unlink">Licores</a>
                                            </li>
                                            <li id="c754_list">
                                                <a href="#" title="Comprar Cervezas" class="js-pjax │ unlink">Cervezas</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="js-pjax │ category-view-more" href="#">
                                                "
                                                                                Ver más ...
                                                                    "                               
                                            </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card--container">
                            <div class="card">
                                <div class="card--image">
                                    <a class="js-pjax" href="#">
                                        <img class="lazy" src="../../../assets/static/media/112539_m1.jpg" alt="Básicos de la Casa">
                                    </a>
                                </div>
                                <div class="card--content">
                                    <h3>
                                        <a class="js-pjax" href="#">
                                                    Básicos de la casa
                                            </a>
                                    </h3>
                                    <div class="category-list-container">
                                        <ul class="unlist">
                                            <li id="c2468_list">
                                                <a href="#" title="Comprar Los Más Vendidos" class="js-pjax │ unlink">Los Más Vendidos</a>
                                            </li>
                                            <li id="c405_list">
                                                <a href="#" title="Comprar Cuidado de la Ropa" class="js-pjax │ unlink">Cuidado de la Ropa</a>
                                            </li>
                                            <li id="c419_list">
                                                <a href="#" title="Comprar Productos y Útiles de Limpieza" class="js-pjax │ unlink">Productos y Útiles de Limpieza</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="js-pjax │ category-view-more" href="#">
                                                "
                                                                                Ver más ...
                                                                    "                               
                                            </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card--container">
                            <div class="card">
                                <div class="card--image">
                                    <a class="js-pjax" href="#">
                                        <img class="lazy" src="../../../assets/static/media/112540_m1.jpg" alt="Higiene y Belleza">
                                    </a>
                                </div>
                                <div class="card--content">
                                    <h3>
                                        <a class="js-pjax" href="#">
                                                Higiene y Belleza
                                        </a>
                                    </h3>
                                    <div class="category-list-container">
                                        <ul class="unlist">
                                            <li id="c2474_list">
                                                <a href="#" title="Comprar Los Más Vendidos" class="js-pjax │ unlink">Los Más Vendidos</a>
                                            </li>
                                            <li id="c1016_list">
                                                <a href="#" title="Comprar Champú y Cuidado del Cabello" class="js-pjax │ unlink">Champú y Cuidado del Cabello</a>
                                            </li>
                                            <li id="c527_list">
                                                <a href="#" title="Comprar Solares" class="js-pjax │ unlink">Solares</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="js-pjax │ category-view-more" href="#">
                                                "
                                                                                Ver más ...
                                                                    "                               
                                            </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card--container">
                            <div class="card">
                                <div class="card--image">
                                    <a class="js-pjax" href="#">
                                        <img class="lazy" src="../../../assets/static/media/112541_m1.jpg" alt="Bebé">
                                    </a>
                                </div>
                                <div class="card--content">
                                    <h3>
                                        <a class="js-pjax" href="#">
                                            Bebé
                                        </a>
                                    </h3>
                                    <div class="category-list-container">
                                        <ul class="unlist">
                                            <li id="c713_list">
                                                <a href="#" title="Comprar Pañales y Toallitas Infantiles" class="js-pjax │ unlink">Pañales y Toallitas Infantiles</a>
                                            </li>
                                            <li id="c761_list">
                                                <a href="#" title="Comprar Alimentación Infantil" class="js-pjax │ unlink">Alimentación Infantil</a>
                                            </li>
                                            <li id="c2454_list">
                                                <a href="#" title="Comprar Bebé Productos Naturales y Eco" class="js-pjax │ unlink">Bebé Productos Naturales y Eco</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="js-pjax │ category-view-more" href="#">
                                                "
                                                                                Ver más ...
                                                                    "                               
                                            </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card--container">
                            <div class="card">
                                <div class="card--image">
                                    <a class="js-pjax" href="#">
                                        <img class="lazy" src="../../../assets/static/media/112542_m1.jpg" alt="Farmacia">
                                    </a>
                                </div>
                                <div class="card--content">
                                    <h3>
                                        <a class="js-pjax" href="#">
                                            Farmacia
                                        </a>
                                    </h3>
                                    <div class="category-list-container">
                                        <ul class="unlist">
                                            <li id="c690_list">
                                                <a href="#" title="Comprar Dietética y Medicina Natural" class="js-pjax │ unlink">Dietética y Medicina Natural</a>
                                            </li>
                                            <li id="c648_list">
                                                <a href="#" title="Comprar Primeros Auxilios" class="js-pjax │ unlink">Primeros Auxilios</a>
                                            </li>
                                            <li id="c669_list">
                                                <a href="#" title="Comprar Higiene Buco-Dental" class="js-pjax │ unlink">Higiene Buco-Dental</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="js-pjax │ category-view-more" href="#">
                                                "
                                                                                Ver más ...
                                                                    "                               
                                            </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 card--container">
                            <div class="card">
                                <div class="card--image">
                                    <a class="js-pjax" href="#">
                                        <img class="lazy" src="../../../assets/static/media/112533_m1.jpg" alt="Mascotas">
                                    </a>
                                </div>
                                <div class="card--content">
                                    <h3>
                                        <a class="js-pjax" href="#">
                                                Mascotas
                                        </a>
                                    </h3>
                                    <div class="category-list-container">
                                        <ul class="unlist">
                                            <li id="c696_list">
                                                <a href="#" title="Comprar Perros" class="js-pjax │ unlink">Perros</a>
                                            </li>
                                            <li id="c700_list">
                                                <a href="#" title="Comprar Gatos" class="js-pjax │ unlink">Gatos</a>
                                            </li>
                                            <li id="c705_list">
                                                <a href="#" title="Comprar Otras Mascotas" class="js-pjax │ unlink">Otras Mascotas</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a class="js-pjax │ category-view-more" href="#">
                                                "
                                                                                Ver más ...
                                                                    "                               
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex__wrap soft--bottom">
            <section class="row center-xs middle-xs">
                <div class="col-xs-12 push--bottom">
                    <header class="container-white │ islet │ flexbox │ border--bottom">
                        <span class="flexbox__item">
                            <h2 class="brand-face │ delta │base-line-height │ flush--bottom │ text-left">Nuestras Marcas</h2>
                        </span>
                        <a class="flexbox__item │ js-pjax text--right" href="#">
                            Ver todas
                        </a>
                    </header>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Nestlé" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/nestle.png" data-src="img/logos/nestle.png" alt="La tienda Nestlé" width="30">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Danone" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/danone.png" data-src="img/logos/dadone.png" alt="La tienda Danone" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Pernod" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/pernod-home-featured.png" data-src="img/logos/pernod-home-featured" alt="La tienda Pernod" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Coca cola" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/coca-cola.png" data-src="img/logos/coca-cola.png" alt="La tienda Coca cola" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Henkel" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/wipp.png" data-src="img/logos/wipp.png" alt="La tienda Henkel" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Dodot" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/dodot.png" data-src="img/logos/dodot.png" alt="La tienda Dodot" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Nivea" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/nivea.png" data-src="img/logos/nivea.png" alt="La tienda Nivea" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Veritas" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/veritas.png" data-src="img/logos/veritas.png" alt="La tienda Veritas" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Ariel" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/ariel.png" data-src="img/logos/ariel.png" alt="La tienda Ariel" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Mimosin" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/mimosin.png" data-src="img/logos/Mimosin.png" alt="La tienda Mimosin" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda Naturvital" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/naturvital.png" data-src="img/logos/Naturvital.png" alt="La tienda Naturvital" width="60">
                    </a>
                </div>
                <div class="col-xs-3 col-sm-2 col-md-1">
                    <a href="#" title="La tienda L'Oréal Paris" class="js-pjax">
                        <img class="lazy" src="../../../assets/img/logos/l-oreal.png" data-src="img/logos/l-oreal.png" alt="La tienda L'Oréal Paris" width="60">
                    </a>
                </div>
            </section>
            <section class="row">
                <div class="col-xs-12 push--bottom">
                    <header class="container-white │ islet │ flexbox │ border--bottom">
                        <span class="flexbox__item">
                            <h2 class="brand-face | delta |  base-line-height | flush--bottom | text--left">La compra online</h2>
                      </span>
                    </header>
                </div>
                <div class="col-xs-12 milli flush--bottom">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam tempora quia labore magni! Odio autem quaerat maxime iste! Minima dolores eveniet quam esse optio unde. <a href="#">compra online</a>Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Quam tempora quia labore magni! Odio autem quaerat maxime iste! Minima dolores eveniet quam esse optio unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam tempora quia labore magni! Odio autem
                        quaerat maxime iste! Minima dolores eveniet quam esse optio unde. </p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe consequatur quae tempora ratione mollitia aliquid unde, quam ad architecto sit praesentium exercitationem nisi facere. Officia id maiores eligendi consequatur voluptatum
                        deleniti hic sapiente maxime tempora ab totam facere odit, eveniet iusto quas aspernatur enim veritatis ducimus dignissimos quam distinctio? Accusamus amet, suscipit unde labore nulla, natus tempore aut nam commodi dolore dolor
                        pariatur fuga velit ex dolorem, cum quasi mollitia architecto <a href="#">compra online</a> adipisci doloremque quam? Doloribus nisi repudiandae praesentium nulla assumenda impedit vitae expedita eum nostrum esse earum quia natus
                        excepturi, consequatur harum suscipit sed quaerat. Facere ipsum pariatur magnam eaque?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, molestiae reprehenderit? Quaerat totam officia nesciunt consequuntur molestias iure laborum saepe sint earum, magnam odit doloribus magni quo quasi excepturi modi nostrum
                        voluptatem quae sapiente fuga <a href="#">sección de promo</a> adipisci quisquam. Sed tenetur iure quibusdam enim itaque, quia harum vel totam beatae reiciendis non.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, molestiae reprehenderit? Quaerat totam officia nesciunt consequuntur molestias iure laborum saepe sint earum,</p>
                    <p>"¡Visita nuestro blog para conocer los <a href="#">distintos tipos de supermercados online</a> que puedes encontrar en Internet!</p>
                </div>
            </section>
            <div class="flex__wrap soft--bottom"></div>
        </div>
        <div class="flex__wrap | container-white | clear-fix dw-margin-trailer-2 d-margin-trailer-2 t-margin-trailer-2"></div>
</div>