<div class="pjax-container js-pjax-container" id="pjax-container">
  <div class="flex__wrap">
      <div class="col-xs-10 col-xs-offset-1">
          <div class="row around-xs">
              <div class="col-md-4 col-xs-12 value-proposition-container js-open-modal" data-modal-url="/modal/slots-info">
                  <div class="row">
                      <div class="col-xs-3">
                          <img src="../../../../assets/img/truck.svg" alt="Camión" class="value-proposition-icon">
                      </div>
                      <div class="col-xs-9 value-description">
                          <div>
                              <div class="value-title">Envío GRATIS</div>
                              <div class="value-claim">a partir de $30.000 mil en compras</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-xs-12 value-proposition-container js-open-modal" data-modal-url="/modal/slots-info">
                  <div class="row">
                      <div class="col-xs-3">
                          <img src="../../../../assets/img/icon-offer.svg" alt="Reloj" class="value-proposition-icon">
                      </div>
                      <div class="col-xs-9 value-description">
                          <div>
                              <div class="value-title">Entregamos de&nbsp;7&nbsp;a.m.&nbsp;a&nbsp;10&nbsp;p.m.</div>
                              <div class="value-claim">de nuestro súper a tu casa.</div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 col-xs-12 value-proposition-container">
                  <div class="row">
                      <div class="col-xs-3">
                          <img src="../../../../assets/img/icon-offer.svg" alt="Ofertas" class="value-proposition-icon">
                      </div>
                      <div class="col-xs-9 value-description">
                          <a href="#" class="unlink">
                              <div>
                                  <div class="value-title">+5.000 Ofertas</div>
                                  <div class="value-claim">visita nuestras promos</div>
                              </div>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <div class="flex__wrap │ container-white │ clear-fix dw-margin-trailer-2 d-margin-trailer-2 t-margin-trailer-2">
      <div class="breadcrumb | m-hide | large-mobile-hide | border--bottomr">
          <ol class="nav micro flush--bottom" itemscope="" itemtype="/">
              <li>
                  <a class="nauru js-pjax" href="../index.html" title="Inicio">
                      <em class="icon icon--home">
                          <span class="is-hidden">Brand</span>
                      </em>
                  </a>
              </li>
              <li class="no-wrap-please" itemprop="itemListElement" itemscope="" itemtype="/">
                  <em class="icon icon--caret-right breadcrumb-icon icon--muted"></em>
                  <span itemprop="item">
                      <span itemprop="name">Outlet Brand, Más de 1000 productos con Descuentos de hasta el 50%</span>
                  </span>
              </li>
          </ol>
      </div>
      <div class="hero-banner-container">
          <div class="large-hero-banner-container row">
              <a href="11291.html" class="js-hero-banner-url js-pjax" data-id="11291" data-name="0" data-current="true">
                  <picture class="banner">
                      <source srcset="https://static.brand.html/media/101803_banner-hero-4x3-mobile.jpg" media="(max-width: 767px)">
                      <source srcset="https://static.brand.html/media/101801_banner-hero-18x6-tablet.jpg" media="(max-width: 1024px)">
                      <img src="../media/101801_banner-hero-18x6-desktop.jpg" alt="¡Outlet!" class="hero-banner-image js-banner is-loaded">
                      <div class="banner_legal">
                          <div class="row">
                              <div class="col-xs">
                                  <span class="text--left"></span>
                              </div>
                              <div class="col-xs en-xs">
                                  <span class="text--right">Válido hasta Final de Existencias</span>
                              </div>
                          </div>
                      </div>
                  </picture>
              </a>
          </div>
      </div>
      <div class="grid">
          <div class="grid__item one-whole t-hide d-one-quarter dw-one-fifth js-facets-grid">
              <div class="facets-toggle | t-hide d-hide dw-hide | islet | border--bottom | js-toggle-facets-mobile">
                  <a href="#" class="btn btn--expand btn--shop">Ordenar y Filtrar</a>
              </div>
              <nav class="milli | flush--bottom | m-border--bottom | m-is-expandable--facets | js-facets">
                  <div class="m-islet">
                      <div class="m-border--sides">
                          <div class="d-hide dw-hide">
                              <strong class="section-head-block container-light border--ends islet">Ordenar</strong>
                              <div>
                                  <div class="islet m-border--bottom">
                                      <form action="/campaign/outlet-brand" class="js-pjax" method="get">
                                          <select class="select input--medium micro flush--bottom js-change-list-order" name="o">
                                              <option value="" selected="selected">Relevancia</option>
                                              <option value="marca.asc">Marca (A-Z)</option>
                                              <option value="marca.desc">Marca (Z-A)</option>
                                              <option value="price_unit.asc">Precio (Eur/cantidad)</option>
                                              <option value="price.asc">Precio (- a +)</option>
                                              <option value="price.desc">Precio (+ a -)</option>
                                              <option value="created_at.desc">Nuevo en brand</option>
                                          </select>
                                          <noscript>
                                              <button type="submit" class="btn btn--small">Seleccionar</button>
                                          </noscript>
                                      </form>
                                  </div>
                              </div>
                          </div>
                          <div class="border--bottom">
                              <div class="flexbox | facet-header | container-dark | border--bottom">
                                  <strong class="flexbox__item | base-line-height | milli">Categorías</strong>
                              </div>
                              <nav class="facet-group">
                                  <ul class="unlist">
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Alimentación" data-scrollto="false" data-tracking-action="categories-sidebar-nav" data-tracking-label="Alimentación">
                                              <span class="flexbox__item | soft-half--right">Alimentación</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">77</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Bebidas" data-scrollto="false" data-tracking-action="categories-sidebar-nav" data-tracking-label="Bebidas">
                                              <span class="flexbox__item | soft-half--right">Bebidas</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">27</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Básicos del Hogar" data-scrollto="false" data-tracking-action="categories-sidebar-nav" data-tracking-label="Básicos del Hogar">
                                              <span class="flexbox__item | soft-half--right">Básicos del Hogar</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">64</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Higiene y Belleza" data-scrollto="false" data-tracking-action="categories-sidebar-nav" data-tracking-label="Higiene y Belleza">
                                              <span class="flexbox__item | soft-half--right">Higiene y Belleza</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">206</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Bebé" data-scrollto="false" data-tracking-action="categories-sidebar-nav" data-tracking-label="Bebé">
                                              <span class="flexbox__item | soft-half--right">Bebé</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">64</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Parafarmacia" data-scrollto="false" data-tracking-action="categories-sidebar-nav" data-tracking-label="Parafarmacia">
                                              <span class="flexbox__item | soft-half--right">Farmacia</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">29</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Mascotas" data-scrollto="false" data-tracking-action="categories-sidebar-nav" data-tracking-label="Mascotas">
                                              <span class="flexbox__item | soft-half--right">Mascotas</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">22</span>
                                          </a>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                          <div class="border--bottom">
                              <div class="flexbox | facet-header | container-dark | border--bottom">
                                  <strong class="flexbox__item | base-line-height | milli">Otros filtros</strong>
                                  <a class="flexbox__item | btn btn--tiny | weak-text-color | float--right | js-pjax is-hidden" href="">limpiar<em class="icon icon--close"></em></a>
                              </div>
                              <nav class="facet-group">
                                  <ul class="unlist">
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar productos Oferta" data-scrollto="false" data-tracking-action="group-sidebar-nav" data-tracking-label="Oferta">
                                              <span class="flexbox__item | soft-half--right">
                                                  <input class="push-half--right" type="checkbox" name="properties.name">Oferta</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">452</span>
                                          </a>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                          <div class="border--bottom">
                              <div class="flexbox | facet-header | container-dark | border--bottom"><strong class="flexbox__item | base-line-height | milli">Marcas</strong>
                              </div>
                              <nav class="facet-group">
                                  <ul class="unlist" id="brands">
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Nivea" data-scrollto="false" data-tracking-action="brands-sidebar-nav" data-tracking-label="Nivea">
                                              <span class="flexbox__item | soft-half--right">Nivea</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">28</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Note" data-scrollto="false" data-tracking-action="brands-sidebar-nav" data-tracking-label="Note">
                                              <span class="flexbox__item | soft-half--right">Note</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">25</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Suavinex" data-scrollto="false" data-tracking-action="brands-sidebar-nav" data-tracking-label="Suavinex">
                                              <span class="flexbox__item | soft-half--right">Suavinex</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">24</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Revlon" data-scrollto="false" data-tracking-action="brands-sidebar-nav" data-tracking-label="Revlon">
                                              <span class="flexbox__item | soft-half--right">Revlon</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">14</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Rayen" data-scrollto="false" data-tracking-action="brands-sidebar-nav" data-tracking-label="Rayen">
                                              <span class="flexbox__item | soft-half--right">Rayen</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">13</span>
                                          </a>
                                      </li>
                                  </ul>
                              </nav>
                              <p class="text--center | push--bottom">
                                  <a class="btn btn--small | js-view-all" href="#" rel="nofollow" data-container="#brands li" data-num="5" data-text="Ver 5">Ver todas</a>
                              </p>
                          </div>
                          <div class="border--bottom">
                              <div class="flexbox | facet-header | container-dark | border--bottom">
                                  <strong class="flexbox__item | base-line-height | milli">Tiendas especialistas</strong>
                                  <a class="flexbox__item | btn btn--tiny | weak-text-color | float--right | js-pjax is-hidden" href="">limpiar<em class="icon icon--close"></em></a>
                              </div>
                              <nav class="facet-group">
                                  <ul class="unlist">
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Schwarzkopf &amp; Henkel" data-scrollto="false" data-tracking-action="manufacturers-sidebar-nav" data-tracking-label="Schwarzkopf &amp; Henkel">
                                              <span class="flexbox__item | soft-half--right">Schwarzkopf &amp; Henkel</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">41</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar P&amp;G" data-scrollto="false" data-tracking-action="manufacturers-sidebar-nav" data-tracking-label="P&amp;G">
                                              <span class="flexbox__item | soft-half--right">P&amp;G</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">31</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Tienda Revlon" data-scrollto="false" data-tracking-action="manufacturers-sidebar-nav" data-tracking-label="Tienda Revlon">
                                              <span class="flexbox__item | soft-half--right">Tienda Revlon</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">17</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar L'Oréal España" data-scrollto="false" data-tracking-action="manufacturers-sidebar-nav" data-tracking-label="L'Oréal España">
                                              <span class="flexbox__item | soft-half--right">L'Oréal España</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">13</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Comprar Purina" data-scrollto="false" data-tracking-action="manufacturers-sidebar-nav" data-tracking-label="Purina">
                                              <span class="flexbox__item | soft-half--right">Purina</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">12</span>
                                          </a>
                                      </li>

                                  </ul>
                              </nav>
                          </div>

                          <div class="border--bottom">
                              <div class="flexbox | facet-header | container-dark | border--bottom">
                                  <strong class="flexbox__item | base-line-height | milli">Rango de precios</strong>
                                  <a class="flexbox__item | btn btn--tiny | weak-text-color | float--right | js-pjax is-hidden" href="">limpiar<em class="icon icon--close"></em>
                                  </a>
                              </div>
                              <nav class="facet-group">
                                  <noscript>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre 0,00&nbsp;$ - 0,99&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="0,00&nbsp;$ - 0,99&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">0,00&nbsp;$ - 0,99&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">66</span>
                                          </a>
                                      </ul>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre 1,00&nbsp;$ - 1,99&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="1,00&nbsp;$ - 1,99&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">1,00&nbsp;$ - 1,99&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">81</span>
                                          </a>
                                      </ul>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre 2,00&nbsp;$ - 2,99&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="2,00&nbsp;$ - 2,99&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">7.116,00&nbsp;$ - 2,99&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">94</span>
                                          </a>
                                      </ul>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre 3,00&nbsp;$ - 3,99&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="3,00&nbsp;$ - 3,99&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">3,00&nbsp;$ - 3,99&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">66</span>
                                          </a>
                                      </ul>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre 4,00&nbsp;$ - 4,99&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="4,00&nbsp;$ - 4,99&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">4,00&nbsp;$ - 4,99&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">46</span>
                                          </a>
                                      </ul>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre 5,00&nbsp;$ - 5,99&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="5,00&nbsp;$ - 5,99&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">5,00&nbsp;$ - 5,99&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">30</span>
                                          </a>
                                      </ul>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre 6,00&nbsp;$ - 6,99&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="6,00&nbsp;$ - 6,99&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">6,00&nbsp;$ - 6,99&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">19</span>
                                          </a>
                                      </ul>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre 7,00&nbsp;$ - 9,99&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="7,00&nbsp;$ - 9,99&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">7,00&nbsp;$ - 9,99&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">24</span>
                                          </a>
                                      </ul>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre 10,00&nbsp;$ - 17,99&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="10,00&nbsp;$ - 17,99&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">10,00&nbsp;$ - 17,99&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">28</span>
                                          </a>
                                      </ul>
                                      <ul>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="Mostrar productos entre +18,00&nbsp;$" rel="nofollow" data-scrollTo="false" data-tracking-action="price-sidebar-nav"  data-tracking-label="+18,00&nbsp;$">
                                              <span class="flexbox__item | soft-half--right">+18,00&nbsp;$</span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">9</span>
                                          </a>
                                        </ul>
                                  </noscript>
                                  <div class="islet | push--sides">
                                      <div class="js-slider | push--top noUi-target noUi-ltr noUi-horizontal noUi-background" data-slider-start="[0,19]" data-slider-min="0" data-slider-max="19">
                                          <div class="noUi-base">
                                              <div class="noUi-origin noUi-connect" style="left: 0%;">
                                                  <div class="noUi-handle noUi-handle-lower">
                                                      <div class="slider-tooltip | face-bold | text--center"><span>0 $</span></div>
                                                  </div>
                                              </div>
                                              <div class="noUi-origin noUi-background" style="left: 100%;">
                                                  <div class="noUi-handle noUi-handle-upper">
                                                      <div class="slider-tooltip | face-bold | text--center"><span>+64.050 $</span></div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </nav>
                          </div>

                          <div class="border--bottom">
                              <div class="flexbox | facet-header | container-dark | border--bottom">
                                  <strong class="flexbox__item | base-line-height | milli">Puntuación</strong>
                                  <a class="flexbox__item | btn btn--tiny | weak-text-color | float--right | js-pjax is-hidden" href="">limpiar<em class="icon icon--close"></em></a>
                              </div>
                              <nav class="facet-group">
                                  <ul class="unlist">
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="5 estrellas" rel="nofollow" data-scrollto="false" data-tracking-action="rating-sidebar-nav" data-tracking-label="5 estrellas">
                                              <span class="flexbox__item | soft-half--right">
                                                  <input class="push-half--right" type="checkbox" name="properties.name">
                                                  <div class="star-rating">
                                                      <div class="current-rating current-rating--5">
                                                          <em class="star-rating__star"></em>
                                                      </div>
                                                  </div>
                                              </span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">13</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="4,5 estrellas" rel="nofollow" data-scrollto="false" data-tracking-action="rating-sidebar-nav" data-tracking-label="4,5 estrellas">
                                              <span class="flexbox__item | soft-half--right">
                                                  <input class="push-half--right" type="checkbox" name="properties.name">
                                                  <div class="star-rating">
                                                      <div class="current-rating current-rating--4-5">
                                                          <em class="star-rating__star"></em>
                                                      </div>
                                                  </div>
                                              </span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">5</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="4 estrellas" rel="nofollow" data-scrollto="false" data-tracking-action="rating-sidebar-nav" data-tracking-label="4 estrellas">
                                              <span class="flexbox__item | soft-half--right">
                                                  <input class="push-half--right" type="checkbox" name="properties.name">
                                                  <div class="star-rating">
                                                      <div class="current-rating current-rating--4">
                                                          <em class="star-rating__star"></em>
                                                      </div>
                                                  </div>
                                              </span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">4</span>
                                          </a>
                                      </li>
                                      <li>
                                          <a class="selectable-item | flexbox | nauru | js-facet-item | js-track-ui | js-pjax " href="#" title="3 estrellas" rel="nofollow" data-scrollto="false" data-tracking-action="rating-sidebar-nav" data-tracking-label="3 estrellas">
                                              <span class="flexbox__item | soft-half--right">
                                                  <input class="push-half--right" type="checkbox" name="properties.name">
                                                  <div class="star-rating">
                                                      <div class="current-rating current-rating--3">
                                                          <em class="star-rating__star"></em>
                                                      </div>
                                                  </div>
                                              </span>
                                              <span class="flexbox__item | micro brand-face | text-yellow | text--right">1</span>
                                          </a>
                                      </li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                  </div>
              </nav>
          </div>

          <main role="main" class="js-list-grid | grid__item one-whole | dw-grid__item--no-gutter dw-four-fifths dw-border--left | d-grid__item--no-gutter d-three-quarters d-border--left | t-border--left">
              <link rel="next" href="../campaign/outlet-brand.html">
              <header class="container-white | islet | flexbox | border--bottom">
                  <a class="flexbox__item | js-pjax" href="../campaign/outlet-brand.html">
                      <h1 class="brand-face | delta |  base-line-height | flush--bottom | text--left">Outlet Brand, Más de 1000 productos con Descuentos de hasta el 50%</h1>
                  </a>
              </header>
              <section class="product-list js-products-list" id="product-list">
                  <div class="pagination-options | border--bottom | flexbox">
                      <div class="sort-by flexbox__item islet  m-hide">
                          <a href="#" class="btn btn--small m-hide d-hide dw-hide js-toggle-facets-tablet">Ordenar y Filtrar</a>
                          <div class="t-hide">
                              <form action="/campaign/outlet-brand" class="js-pjax" method="get">
                                  <select class="select input--medium micro flush--bottom js-change-list-order" name="o">
                                          <option value="" selected="selected">Relevancia</option>
                                          <option value="marca.asc">Marca (A-Z)</option>
                                          <option value="marca.desc">Marca (Z-A)</option>
                                          <option value="price_unit.asc">Precio (Espos/cantidad)</option>
                                          <option value="price.asc">Precio (- a +)</option>
                                          <option value="price.desc">Precio (+ a -)</option>
                                          <option value="created_at.desc">Nuevo en Brand</option>
                                  </select>
                                  <noscript><button type="submit" class="btn btn--small">Seleccionar</button></noscript>
                              </form>
                          </div>
                      </div>
                      <div class="results-and-switch flexbox__item islet m-hide">
                          <div class="view-switch btn-group float--right m-hide">
                              <a class="btn btn--init js-pjax is-active" href="../campaign/outlet-brand.html" rel="nofollow">
                                  <i class="icon icon--grid icon--muted"></i>
                              </a>
                              <a class="btn btn--end js-pjax " href="../campaign/outlet-brand.html" rel="nofollow">
                                  <i class="icon icon--list icon--muted"></i>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="container-light border--bottom">
                      <div class="island">


                      </div>
                  </div>
                  <header class="container-white | islet | flexbox | border--bottom" id="ultimas-unidades">
                      <span class="flexbox__item">
                          <h2 class="brand-face | epsilon |  base-line-height | flush--bottom | text--left">Las mejores ofertas</h2>
                      </span>
                  </header>
                  <div id="product-list" class="container-light | border--bottom | clear-fix">
                      <div class="container-light | t-island d-island dw-island">
                          <div class="grid">
                              <div class="grid__item m-one-whole t-one-third d-one-third dw-one-quarter | js-product-grid-grid">
                                  <article class="js-product-item |  product-item product-item--grid | js-product-container js-article js-article-49098 product-item--grid margin-trailer-1" id="product-49098" data-product-name="Recambios Maquinilla de Afeitar Gillette Fusion5 Power 8 uds"
                                      data-product-id="49098" data-price="25" data-position="1" data-product-brand="Gillette" data-list-type="Campaign Listing">
                                      <div class="product-item__main">
                                          <div class="in-cart-quantity | js-in-cart-quantity is-hidden"></div>
                                          <strong class="product-item__offer brand-color micro ellipsis-fadeout | islet flush--bottom | m-hide">¡Últimas unidades!</strong>
                                          <div class="badge-container">
                                              <div class="badge badge--small badge--default">
                                                  <div class="badge__text">
                                                      <span>Regalo</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a class="product-item__image nauru js-pjax js-article-link" href="#" title="Comprar Recambios Maquinilla de Afeitar Gillette Fusion5 Power 8 uds">
                                              <img src="../../../../assets/media/123091_m1.jpg" data-src="../../../../assets/media/123091_m1.jpg" class="lazy" alt="Recambios Maquinilla de Afeitar Gillette Fusion5 Power 8 uds" width="160">
                                          </a>
                                          <div class="islet">
                                              <div class="product-item__title">
                                                  <h4 class="product-item__brand micro | push-half--bottom">
                                                      <a href="/marca/gillette/7" title="Ver más productos de Gillette" class="js-pjax">Gillette</a>
                                                  </h4>
                                                  <h3 class="product-item__name zeta face-normal | flush--bottom">
                                                      <a href="#" title="Comprar Recambios Maquinilla de Afeitar Gillette Fusion5 Power 8 uds" class="js-article-link | js-pjax">Recambios Maquinilla de Afeitar Gillette …</a>
                                                      <span class="product-item__info weak-text-color">
                                                          <small class="product-item__units nano">8 uds</small>
                                                          <small class="product-item__ppu nano"> | 11,200&nbsp;$ / ud.</small>
                                                      </span>
                                                  </h3>
                                                </div>
                                          </div>
                                          <div class="flexbox | soft-half--sides">
                                              <div class="flexbox__item"></div>
                                              <div class="flexbox__item | text--right">
                                                  <div class="dropdown | dropdown__menu--right | js-dropdown-toggle" data-json="{&quot;followMouse&quot;: true, &quot;target&quot;: &quot;#product_dropdown&quot;, &quot;noClose&quot;: true}">
                                                      <a class="dropdown__toggle | nano | nauru flush--bottom | is-hidden-if-no-js js-show-customer-lists" href="/mi-cuenta/listas/">
                                                          <em class="icon icon--plus"></em>+ Añadir a lista</a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="product-item__shop product-grid__footer | islet product-item__shop--twolines">
                                          <form class="float--right" action="/mi-carrito/producto/49098" method="post">
                                              <span class="product-grid-footer__price">
                                                  <del class="product-item__price product-item__price--old product-grid-footer__price--old nano | flush--bottom">119,550&nbsp;$</del>
                                                  <strong class="product-item__price product-item__price--new product-grid-footer__price--new brand-color">
                                                      <span class="delta">89</span>
                                              <span class="milli">,250 $</span>
                                              </strong>
                                              </span>
                                              <span class="product-grid-footer__buttons">
                                                  <button class="btn btn--small btn--remove-circle | is-hidden | js-remove-from-cart "></button>
                                                  <button type="submit" class="btn btn--shop btn--shop-mobile-circle js-add-to-cart |  " data-can-buy-classes="btn--shop btn--shop-mobile-circle" data-can-buy-text="Añadir" data-can-not-buy-text="Más info" data-has-promo="0">
                                                      <span class="btn--shop__text js-btn-text">Añadir</span>
                                              </button>
                                              </span>
                                          </form>
                                      </div>
                                  </article>
                              </div>

                          </div>
                      </div>
                  </div>

              </section>
          </main>
      </div>
  </div>

</div>
